$navbar-default-bg: #08088A;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
 color: fff;
 text-decoration: none; 
}

.center {
  text-align: center;
}

.article-meta-details {
  margin-top: 15px;
}

.article-actions {
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}